# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
.next/
build/
out/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Misc
.DS_Store
*.pem
.turbo

# IDE
.vscode/
.idea/

# Prisma
packages/db/prisma/migrations/
